<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .container {
            margin: 0 auto;
            width: 800px;
        }

        .header {
            height: 100px;
            background: #5cb85c;
        }

        .footer {
            text-align: center;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="header"></div>
    <div class="main">
        {% block content %}
        {% endblock %}
    </div>
    <div class="footer">
        <a href="https://www.baidu.com/">百度</a>
    </div>
</div>
</body>
</html>