<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <p>主页</p>
    {% for q in question_list %}
        <div>
            {{ q.id }}:<a href="{{ q.id }}">{{ q.question_text }}</a>
            <span class="container">
                {{ q.publish_date }}
            </span>
        </div>
    {% endfor %}
</div>
</body>
</html>